body{

    background-color: darkgrey;
}

form{
   
margin-top: 30px;
padding:20px;
background-color:azure;
}

#form-group{

    padding:10px;
    margin:10px;
}

.nav-link {

    color:white;
}

.navbar-brand{

    background-color: teal;
    padding:20px;
    text-size-adjust: auto;
   
}